.service-box {
  background-color: #1d1b1b;
}
.service-img {
  width: 226px;
  height: 226px;
}

@media (min-width: 1024px) {
  .service-box:hover {
    transform: scale(0.99);
  }
  .service-box:hover .service-img {
    width: 70%;
    height: 70%;
  }
}