@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-size: 16px;
    --text-large: 4.3758rem;
    --text-small: 1.375rem;
    --text-medium: 1.875rem;
    --lh-big: 127%;
    --lh-sd: 108%;
  
    /*color*/
    --white: #fff;
    --dark: #0E0D0D;
    --black: #000;
    --dark-md: #1D1B1B;
    --telegram-theme: #24A1DE;
  
    /*radius*/
    --r-md: 2.75rem;
    --r-std: 0.625rem;
    --r-fs: 4.125rem;

    /*bezier*/
    --t-md: all .6s cubic-bezier(0.23, 1, 0.320, 1);
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  &::-webkit-scrollbar {
    width: 18px;
    &-track {
        background-color: var(--dark);
    }
    &-thumb {
        background-color: var(--white);
        border: 4px solid var(--dark);
        border-radius: var(--r-md);
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.transition {
    &-1 {transition: var(--t-md);}
}

.box {
    max-width: 1648px;
    padding-inline: 20px;
    width: 100%;
    margin-inline: auto;
    &-banner {
        max-width: 1281px;
        width: 100%;
    }
}

.r {
    &-circle {border-radius: 50%;}
    &-md {border-radius: var(--r-md);}
    &-std {border-radius: var(--r-std);}
    &-fs {border-radius: var(--r-fs);}
}

.d {
    &-grid {
        display: grid;
        &.col {
            &-2 {grid-template-columns: .5fr .5fr;}
            &-3 {grid-template-columns: .336fr .336fr .336fr;}
        }
    }
} 

.bg {
    &-tg {background-color: var(--telegram-theme);}
}

.pointer {
    &-none {pointer-events: none;}
}

.service {
    padding: 80px 0 160px;
    &-card {
        & .service {
            &-subtitle {
                opacity: 0;
                transform: translateY(40%);
                transition: var(--t-md);
            }
        }
        &:hover {
            & .service {
                &-subtitle {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
    }
    &-item {background-color: var();}
}

.product {
    padding-bottom: 160px;
    &-subtitle {
        transition: var(--t-md);
        opacity: 0;
        transform: translateY(120%);
    }
    &-card {
        &:hover {
            & .product {
                &-subtitle {
                    opacity: 1;
                    transform: translateY(0%);
                }
                &-mask {
                    background-color: #0000008f;
                }
            }
            & img {
                transform: scale(1.1);
            }
        }
    }
    &-mask {transition: var(--t-md);}
}

.form {
    padding-block: 40px 120px;
}

.adress {
    max-width: 30%;
}